---
import type { Props } from '@astrojs/starlight/props'

import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro'
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro'
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro'

const { sidebar } = Astro.props
---

<SidebarSublist sublist={sidebar} />
<div class='md:sl-hidden'>
	<MobileMenuFooter {...Astro.props} />
</div>
<div class="sl-hidden md:sl-flex sl-sticky bottom">
	<ThemeSelect {...Astro.props} />
</div>

<style>
	.bottom {
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
	}
</style>