:root {
	/* Primary button  
	--fcl-btn-color: green;
	--fcl-primary-btn-font-size: 1em;
	--fcl-btn-border-radius: 0.5em;
	--fcl-btn-background: red;
	--fcl-btn-box-shadow: ;
	--fcl-btn-hover-color: orange;
	--fcl-btn-hover-background: ;
	--fcl-btn-hover-box-shadow: ;
	--fcl-btn-active-color: blue;
	--fcl-btn-active-background: ;
	--fcl-btn-active-box-shadow: ;
	*/

	/* Text button  
	 --fcl-text-btn-font-size: 1em; 
	 --fcl-text-btn-color: blue;	 
	 --fcl-text-btn-hover-color: cyan;
	--fcl-text-btn-active-color: red; 
	*/

	/* Text Variables
	--fcl-font-family: cursive;
	--fcl-modal-heading-font-weight: 600;
	--fcl-text-color: ;
	--fcl-text-color-error: ;
	---
	--fcl-text-secondary-color: ;
	--fcl-text-color-success: ;
	*/
		/* --fcl-overlay-background: ; 
	/* --fcl-overlay-backdrop-filter: ; 
	/* --fcl-body-background: red; 
	/* --fcl-modal-box-shadow: ; 

	/* Miscallenuous Variables */
	--fcl-focus-color: tomato;
	--fcl-body-divider: ; /* var(--fcl-text-color, --fcl-border-color) */
	--fcl-qr-foreground-color: ;
	--fcl-qr-background-color: ;
	--fcl-qr-border-color: ;
	--fcl-qr-border-radius: ;
	--fcl-spinner-color: ;

	/* --fcl-border-radius: 1.8em; */
	/* --fcl-modal-padding: 1.25em; */
}

.button-85 {
	padding: 0.5em 1.5em;
	border: none;
	outline: none;
	/* background: #111; */
	position: relative;
	z-index: 0;
	border-radius: 50em;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	transition: all 200ms ease-in-out;
}

.button-85:before {
	content: '';
	background: linear-gradient(
		90deg,
		#eb5d48,
		#e38843,
		#f1ef67,
		#00ffd5,
		#79b1e9,
		#e02e96,
		#eb5d48
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 100s linear infinite;
	border-radius: 50em;
}

@keyframes glowing-button-85 {
	0%,
	100% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
}

.button-85:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222429;
	left: 0;
	top: 0;
	border-radius: 50em;
}
